<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.diana.proyectofinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pantallas.cambioContrasenna"></activity>
        <activity android:name=".pantallas.intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pantallas.Servicios" />
        <activity android:name=".pantallas.solicitudRealizada" />
        <activity android:name=".pantallas.InfoEmployee" />
        <activity android:name=".pantallas.List" />
        <activity android:name=".pantallas.SignUp" />
        <activity android:name=".pantallas.Login" />
        <activity android:name=".Pantalladiferentesdonaciones" />
        <activity android:name=".Pantallarecogida" />
        <activity android:name=".Pantallaropa" />
        <activity android:name=".Pantalladonacionrealizada" />
        <activity android:name=".Pantalladinero" />
        <activity android:name=".Pantalladonar" />
        <activity android:name=".PantalladeContribuir" />
        <activity android:name=".MainActivity" />
        <activity android:name=".pantallas.Inicio"></activity>
    </application>

</manifest>